.post-container{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */
    background-color: #Ffffff;
    border-radius: 1em;
}
.btn-group{
    position:absolute;
    bottom:0px;
}
.post-img{
    border-radius: 1em;
    margin:10px;
}