.input-day{
    
    border-radius: 1em;
   
}

.post-btn{
    width:15%;
    
}



  .img-upload{
     
  }

  .newsfeed-body{
    background-color: #FAFAFB
  }
  .form-input{
      border-radius: 1em;
  }